#title {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#receipt {
  width: 300px;
}
#receipt-image {
  border: 1px solid #aaa;
  width: 100%;
  height: 800px;
  overflow: auto;
}
#receipt-image img {
  width: 100%;
  height: auto;
}
#input-and-action {
  flex: 0.5;
  width: 100%;
  padding: 15% 2% 2% 2%;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#input-and-action input,
#input-and-action select
{
  font-size: inherit;
  margin: 5px 0px 0px 10px;
  width: 180px;
}

#input-and-action label:not(first-child)
{
  display: block;
  margin: 10px 0px 0px 10px;
  color: #444;
}

#input-and-action #price
{
  background-color: seashell;
}

#input-and-action #label-price
{
  font-weight: bold;
  margin-top: 30px;
  padding: 10px 0px 0px 0px;
  color: black;

}

#input-and-action #input-price
{
  margin:  10px 10px 50px 10px;
}

#input-and-action button.button-action{
  font-size: inherit;
  margin: 30px 20px 0px 0px;
  border-radius: 3px;
  background-color: white;
}

#register {
  width : 100px;
  height: 30px;
  margin : 0px 0px 0px 260px;
}
 
#container {
  display: flex;
  justify-content: center;
  width: inherit;
  margin: inherit;
}

div#wrapper{
  margin: 0px auto;
}

#wrapper #button-save {
  margin: 30px auto;
  display: block;
  width: 200px;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#info {
  text-align: center;
}