table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr:nth-child(even)
{
  background-color: whitesmoke;
}
th, td {
  width: 100px;
  border: 1px solid #999;
}
.operation {
  width: 40px;
  background-color: white;
  border: none;
}
tfoot td, tr#total td{
  border: none;
}
tfoot td{
  text-align: right;
}
thead {
  background-color: #ddd;
}

body {
  display: flex;
  max-width: 1920px; 
  box-sizing: border-box;  }

#receipt {
  max-width: 400px;
}
#receipt-image {
  width: 100%;
  height: 600px;
  overflow: auto;
}
#receipt-image img {
  width: 100%;
  height: auto;
}
#input {
  flex: 1;
  padding: 0% 2%;
}

#register {
  width : 100px;
  height: 30px;
  margin : 0px 0px 0px 260px;
}
select{
  width: 150px;
}
